# Java / Maven
target/
*.class
*.log

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# SQLite DB (do NOT commit local DB)
db/quickbite.db

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar
